---
layout: default
---
<div class="container">
    <article class="post">
        <header class="post-header">
            <h1>{{ page.title }}</h1>
            <div class="post-meta">
                <time datetime="{% include date_iso.html date_value=page.date %}">{% include date_display.html date_value=page.date %}</time>
                {% if page.author %} &middot; <span class="author">{{ page.author }}</span>{% endif %}
            </div>
        </header>

        <div class="page-content-wrapper">
            <div class="page-content">
                {{ content }}
            </div>

            {% if page.tags %}
            <div class="post-tags">
                Tags:
                {% for tag in page.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </article>
</div>
